modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["firebase_barebones_javascript:1.0.0"]
expertMode = true

[userenv]

[userenv.shared]
VIPRESELLER_APP_ID = "oFARENos"
VIPRESELLER_API_KEY = "c5hTasos5FJMC2ciSL9ZWxbXTVNtTfIN9VSpV2jDCK9rbhkGrbqNr6Mc72qlDH3W"
VIPRESELLER_SIGN = "020877acacf81ac6ab4ccfc5a45b83a8"
